fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
torch
transformers
sentencepiece
sentence-transformers
nltk
numpy
PyMuPDF
Pillow
faiss-cpu
rank-bm25
scikit-learn
coqui-tts
scipy
python-pptx
python-docx